<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    {{!-- css menu --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css">
    <link rel="stylesheet" href="/css/estilo.css"> 
    <link rel="stylesheet" href="/css/registratin.css">
    <title>Example App</title>
</head>
<body>
    {{>menu}}
    {{{body}}}
    {{>footer}}
</body>
</html>
