<main>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                {{>mensagens}}
                <form action="/cadastrarFuncionario" method="post" enctype="multipart/form-data" class="input-form">

                    <h1>Cadastre seu serviço</h1>

                    <div class="mb-2">
                        <label for="nome" class="form-label">Serviço</label>
                        <input type="text" value="" name="nome" class="form-control input-box" placeholder="Serviço">
                    </div>

                    <div class="mb-2">
                        <label for="exampleFormControlInput1" class="form-label">Valor</label>
                        <input type="number" value="" name="valor" class="form-control input-box" placeholder="Valor R$">
                    </div>
                    
                    <div class="mb-2">
                        <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                        {{!-- MENU CATEGORIA --}}
                        <select name="categoria" id="select-cat" class="form-control">
                            <option id="select-cat" value="">categoria</option>
                            <option id="select-cat" value="Feminino">Feminino</option>
                            <option id="select-cat" value="Marculino">Masculino</option>
                            <option id="select-cat" value="Infantil">Infantil</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="file" class="form-label">Adicione uma imagem do serviço</label>
                        <input type="file" value="" name="imagem" class="form-control input-box" placeholder="Adicione uma imagem da serviço">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>
</main>